<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:ccod="http://channelsoft.com/schema/ccod"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://channelsoft.com/schema/ccod
                           http://channelsoft.com/schema/ccod/ccod.xsd
                            ">
    <ccod:umg class="com.channelsoft.parsedefinition.app.MultPropertiesBean"/>

</beans>